<%- include('includes/head.ejs')%>
    </head>

    <body>
        <%- include('includes/navigation.ejs')%>

            <main>
                <form action="/admin/edit-product" method="post" class="product-form">
                    <div class="form-control">
                        <label for="productName">Product Name</label>
                        <input type="text" name="productName" value="<%=product.productName%>">
                    </div>
                    <div class="form-control">
                        <label for="imgUrl">Product Image</label>
                        <input type="text" name="imgUrl" value="<%=product.imgUrl%>">
                    </div>
                    <div class="form-control">
                        <label for="price">Product Price</label>
                        <input type="text" name="price" value="<%=product.price%>">
                    </div>
                    <div class="form-control">
                        <label for="description">Product Description</label>
                        <textarea name="description"   rows="5"><%=product.description%></textarea>
                    </div>
                    <div>
                        <input hidden type="text" name="id" value="<%=product._id%>">
                    </div>
                    <button class="btn" type="submit">Update Product</button>
                </form>
        <%- include('includes/end.ejs')%>